name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build (PlatformIO)
        uses: platformio/action@v2
        with:
          pio-command: run
          pio-args: -e esp32dev
